.grid{
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4,1fr);
}

@media(max-width:900px){
  .grid{
    grid-template-columns: 1fr;
  }
}

.actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  .action-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
  }
}

mat-card {
  box-shadow: none !important;
  border: none !important;
  background: transparent;
  padding: 0;
}