<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" required>
      <mat-error *ngIf="form.get('nome')?.hasError('required')">Obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sigla</mat-label>
      <input matInput formControlName="sigla" required>
      <mat-error *ngIf="form.get('sigla')?.hasError('required')">Obrigatório</mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" [disabled]="form.invalid">{{editing ? 'Salvar' : 'Cadastrar'}}</button>
      <button type="button" mat-button (click)="clean()">Limpar</button>
    </div>
  </form>
</mat-card>